<div class="container p-4">
    <h1>Employee Home</h1>
    <div class="container-md mt-3">
      <h2>Hello!</h2>
      <div class="mt-4 p-5 bg-light text-grey rounded">
        <p>
          Your work here at ERS is very much apprieated! Keep up the hard work.
          Don't forget to submit all of your reimbursment request if you have them and make sure to check back in if there is any issues. Also don't forget to clock out for lunch and punch out when you leave. Don't want to be missing any pay during the hoilday season. 
          More information will be emailed regarding our Hoilday party on the 23th. Speak with your managers if you feel you not getting the emails.
        </p> 
  <!-- Modal 1 Content   -->
  <button 
  (click)="getUserInfo()"
  type="button" 
  class="btn btn-secondary" 
  data-toggle="modal" 
  data-target="#templateModal" 
  data-name="name"
  data-title="title 1"
  data-customer="Chrysler"
  data-logo="https://dummyimage.com/400x200/000/fff.png&text=modal+1"
  data-industry="industry"
  data-products="products"
  data-sales cycle="sales cycle"
  data-competition="competition"
  data-background="background"
  data-salesperson="Tony Tiger"
  data-jobtitle="jobtitle"
  data-headshot="headshot"
  data-email="email"
  data-metrics="metrics"
  data-economicBuyer="economicBuyer"
  data-decisionCriteria="decisionCriteria" 
  data-decisionProcess="decisionProcess"
  data-identifyPain="identifyPain"
  data-champion="champion"
  >
  Your info
  </button>  
  
  
  <!-- Modal 2 Content   -->
  <button 
  type="button" 
  class="btn btn-secondary" 
  data-toggle="modal" 
  data-target="#templateModal" 
  data-name="name"
  data-title="title 2"
  data-customer="Chrysler"
  data-logo="https://dummyimage.com/400x200/000/fff.png&text=modal+2"
  data-industry="industry"
  data-products="products"
  data-sales cycle="sales cycle"
  data-competition="competition"
  data-background="background"
  data-salesperson="Tony Tiger"
  data-jobtitle="jobtitle"
  data-headshot="headshot"
  data-email="email"
  data-metrics="metrics"
  data-economicBuyer="economicBuyer"
  data-decisionCriteria="decisionCriteria" 
  data-decisionProcess="decisionProcess"
  data-identifyPain="identifyPain"
  data-champion="champion"
  (click)="getUserRequest()"
  >
  Requests 
  </button>
  
  </div>
<!-- <h3>EMPLOYEE HOME</h3>
<ul>
<li class="nav-item">
    <a class="nav-link" href="request-pending">Requests</a>
</li>
<li class="nav-link">
   <a href="user-details">Your info</a>
</li>

</ul> -->
