<div class="container-md mt-3">
    <button type="button" class="btn btn-dark" (click)="setPendingFlag()">View Pending</button>
    <button type="button" class="btn btn-dark" (click)="setResolvedFlag()">View Resolved</button>
    <button type="button" class="btn btn-dark" (click)="setAllFlag()">View All</button> 
    <div>
        <form class="form-inline">
            <label for="filter">Input user ID to Filter</label>
            <input type="filter" 
            class="form-control" 
            placeholder="ID"
             name="filter" 
             id="filter" 
             [(ngModel)]="filterKey"
             >
            <button type="submit" class="btn btn-dark" (click)="filter()">Submit</button>
          </form>
    </div>
    <button type="button" class="btn btn-dark" (click)="resetFilter()">Reset Filter</button>

    <div class= "table-responsive-lg" *ngIf="pendingFlag">
    <h2>PENDING REQUESTS</h2>
    <table class="table table-dark table-hover">
        <thead class="table-active">
            <tr>
                <th>Request ID</th>
                <th>User ID</th>
                <th>Request Date</th>
                <th>Amount Requested</th>
                <th>Status</th>
                <th>Deny</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let req of allPending">
                <td>{{req.id}}</td>
                <td>{{req.userId}}</td>
                <td>{{req.date}}</td>
                <td>{{req.amount}}</td>
                <td>{{req.status}}</td>
                <td><button type="button" (click)="rejectRequest(req)"><span class="material-icons">cancel</span></button></td>
                <td><button type="button" (click)="approveRequest(req)"><span class="material-icons">check</span></button></td>
            </tr>
        </tbody>
    </table>
    </div>


    <div *ngIf="resolvedFlag">
        <h2>RESOLVED REQUESTS</h2>
        <table class="table table-dark table-hover">
            <thead class="table-active">
                <tr>
                    <th>Request ID</th>
                    <th>User ID</th>
                    <th>Request Date</th>
                    <th>Amount Requested</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of allResolved">
                    <td>{{req.id}}</td>
                    <td>{{req.userId}}</td>
                    <td>{{req.date}}</td>
                    <td>{{req.amount}}</td>
                    <td>{{req.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div *ngIf="allFlag">
        <h2>ALL REQUESTS</h2>
        <table class="table table-dark table-hover">
            <thead class="table-active">
                <tr>
                    <th>Request ID</th>
                    <th>User ID</th>
                    <th>Request Date</th>
                    <th>Amount Requested</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of allRequests">
                    <td>{{req.id}}</td>
                    <td>{{req.userId}}</td>
                    <td>{{req.date}}</td>
                    <td>{{req.amount}}</td>
                    <td>{{req.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>